h1{text-align: center;
    background-color: darkgreen;
    text-decoration:underline;

}
p{text-align: center;
    
}
div{background-color: darkgreen;
}
h4{text-align: center;
    text-decoration: underline;
}
p{background-color: darkgreen;
font-family: 'Srisakdi', cursive;
    font-size: 27
}

